<ul id="comment">
  <li><%= comment.content %></li>
  <li>Nick: <%= comment.nick %></li>
  <li>
    Commented <%= time_ago_in_words(comment.created_at) %> ago.
  </li>
<li>  <% if logged_in? %>
         <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-sm"%>
         <% end %></li>
</ul>